<div class="jumbotron">
    <h1>DEADLOCKS!</h1>
    <p class="lead"><a href="/home/deadlock">click here to deadlock</a></p>
    <p class="lead"><a href="/home/nodeadlock">click here to NOT deadlock</a></p>
</div>
